{% extends 'SGEAPP/base.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Porcentaje de Aistencia
        <small>Muestra el porcentaje de asistencia de la Sección</small>
      </h1>
      <div class="btn-group">
            {% for seccion in secciones %}
                {% if seccion.curso == id_cur %}
                <a type="button" class="btn btn-danger" href="{% url 'listNotasFilter' id_cur.id seccion.id %}">{{ seccion }}</a>
                {% endif %}
            {% endfor %}
      </div>
    </section>
    
    <!-- Main content -->
<section class="content container-fluid">

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Porcentaje de Asistencia</h3>
        <a type="button" class="btn btn-primary" href="{% if id_sec %}{% url 'crearEvaluaciones' id_sec.id %}{% endif %}">
                Ingresar Asistencia
        </a>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="dataTable" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Presente</th>
            <th>Total</th>
            <th>Promedio</th>
          </tr>
          </thead>
          <tbody>
                {% for estudiante in estudiantes %}
                    <tr>
                        <td>{{ estudiante.apelp}} {{ estudiante.apelm}} {{ estudiante.nom }}</td>
                        <td>{{ estudiante.asis_p }}</td>
                        <td>{{ estudiante.asis_lenght }}</td>
                        <td>{{ estudiante.asis_prom }}%</td>
                    </tr>
                {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
                <script>
              // generamos el evento para el boton                              

                /**

                * funcion que realiza los calculos

                */

                function calcular() {

                    // obtenemos todas las filas del tbody

                    var filas=document.querySelectorAll("#dataTable tbody tr");

                

                    var total=0;

                

                    // recorremos cada una de las filas

                    filas.forEach(function(e) {

                

                        // obtenemos las columnas de cada fila

                        var columnas=e.querySelectorAll("td div .form-control");

                
                        var totalnotas=0;
                        // obtenemos los valores de la cantidad y importe
                        for (var i = 0; i < columnas.length-1; i++) {
                              totalnotas = totalnotas+parseInt(columnas[i].value);
                            }

                
                        var largo = columnas.length
                        // mostramos el total por fila

                        columnas[largo-1].value = (totalnotas/(largo-1)).toFixed(1);
                        totalnotas = 0;
                    });

                }
              function ActivarCampoOtroTema(b){		
                var contenedor = document.getElementById(b.concat(1));
                var inp = document.getElementById("input"+b.concat(2)+"inp");	
                var val = document.getElementById("id"+b.concat(3)+"i");	
                contenedor.style.display = "none";
                inp.style.display = "inline";
                val.style.display = "none";		
                return true;	}
              function DesactivarCampoOtroTema(b){	
                console.log(b);		
                var contenedor = document.getElementById(b.concat(1));
                console.log(contenedor);	
                var inp = document.getElementById("input"+b.concat(2)+"inp");	
                console.log(inp);	
                var val = document.getElementById("id"+b.concat(3)+"i");	
                console.log(val);	
                console.log(b);
                var idform = "form"+b.concat(4)+"f";
                console.log(idform);
                form = document.getElementById(idform);	
                console.log("enviando");
                $("#"+idform).submit(function(e){
                      e.preventDefault();
                      var thisForm = $("#"+idform);
                      var actionEndpoint = thisForm.attr("action");
                      var httpMethod = thisForm.attr("method");
                      var formData = thisForm.serialize();

                      $.ajax({
                        url: actionEndpoint,
                        method: httpMethod,
                        data: formData,
                        success: function(data){
                          console.log("succes")
                        },
                        error: function(errorData){
                          console.log("error")
                          console.log(errorData)
                        }
                      })
                  });
                  $("#"+idform).submit();
                  inp.style.display = "inline";
                  val.style.display = "none";	
                  calcular();
                  };
            </script>
            <script>
        window.onload = function() {
          calcular();
        };</script>
{% endblock %}