{% load pwa %}
{% load static %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SGE - Sistema de Gestión Educativa</title>
  <link rel="icon" href="{% static 'SGEAPP/dist/img/logos/SGE-96.png' %}">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'SGEAPP/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'SGEAPP/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="{% static 'SGEAPP/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'SGEAPP/bower_components/Ionicons/css/ionicons.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'SGEAPP/dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
  <link rel="stylesheet" href="{% static 'SGEAPP/dist/css/skins/skin-black.min.css' %}">
  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
    integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
    integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <!--Manifiesto para la WPA-->
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

  {% progressive_web_app_meta %}
  <script>
    var url = "{% url 'saveToken' %}";
    var idUserActual = {{ user.id }};
  </script>
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

      <!-- Logo -->
      <a href="{% url 'index' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>S</b>GE</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Panel</b>SGE</span>
      </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- /.messages-menu -->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">{{ cant_not }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Tienes {{ cant_not }} notificaciones</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  {% for n in notificaciones %}
                  <li id="{{ n.id }}"><!-- start message -->
                    <a href="#">
                      <h4>
                        {{ n.head }}
                        <small onclick="closeLi({{ n.id }});"><i class="fa fa-close"></i></small>
                      </h4>
                      <p>{{ n.body }}</p>
                    </a>
                  </li>
                  <!-- end message -->
                  {% endfor %}
                </ul>
              </li>
              <li class="footer"><a href="{% url 'index' %}">Ver todos los mensajes</a></li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="{% if perfil.foto_perfil %}{{ perfil.foto_perfil.url }}{% endif %}" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{ user.first_name }} {{ user.last_name }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="{% if perfil.foto_perfil %}{{ perfil.foto_perfil.url }}{% endif %}" class="img-circle" alt="User Image">

                <p>
                  {{ user.first_name }} {{ user.last_name }}
                  <small>{{ perfil.tipo_usuario }}</small>
                </p>
              </li>
              <!-- Menu Body -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{% url 'perfil' %}" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                  <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Salir</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
  
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="{% if perfil.foto_perfil %}{{ perfil.foto_perfil.url }}{% endif %}" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>{{ user.first_name }} {{ user.last_name }}</p>
            <!-- Status -->
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
  
  
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
          {% if current_user.is_staff %}
          <li class="header">MENÚ</li>
          <!-- Optionally, you can add icons to the links -->
          <li class="{% if nbar == 'Usuarios' %}active{% endif %}"><a href="{% url 'usuarios' %}"><i class="fa fa-user-o"></i> <span>Usuarios</span></a></li>
          <li class="{% if nbar == 'Perfiles' %}active{% endif %}"><a href="{% url 'perfiles' %}"><i class="fa fa-user-o"></i> <span>Perfiles</span></a></li>
          <li class="{% if nbar == 'Profesores' %}active{% endif %}"><a href="{% url 'profesores' %}"><i class="fa fa-user-o"></i> <span>Profesores</span></a></li>
          <li class="{% if nbar == 'Tipos de Enseñanza' %}active{% endif %}"><a href="{% url 'tiposEnsenanza' %}"><i class="fa fa-user-o"></i> <span>Tipos de Enseñanza</span></a></li>
          <li class="{% if nbar == 'Grados' %}active{% endif %}"><a href="{% url 'grados' %}"><i class="fa fa-user-o"></i> <span>Grados</span></a></li>
          <li class="{% if nbar == 'Cursos' %}active{% endif %}"><a href="{% url 'cursos' %}"><i class="fa fa-user-o"></i> <span>Cursos</span></a></li>
          <li class="{% if nbar == 'Estudiantes' %}active{% endif %}"><a href="{% url 'estudiantes' %}"><i class="fa fa-user-o"></i> <span>Estudiantes</span></a></li>
          <li class="{% if nbar == 'Apoderados' %}active{% endif %}"><a href="{% url 'apoderados' %}"><i class="fa fa-user-o"></i> <span>Apoderados</span></a></li>
          <li class="{% if nbar == 'Funcionarios' %}active{% endif %}"><a href="{% url 'funcionarios' %}"><i class="fa fa-user-o"></i> <span>Funcionarios</span></a></li>
          <li class="{% if nbar == 'Asignaturas' %}active{% endif %}"><a href="{% url 'asignaturas' %}"><i class="fa fa-user-o"></i> <span>Asignaturas</span></a></li>
          <li class="{% if nbar == 'Secciones' %}active{% endif %}"><a href="{% url 'secciones' %}"><i class="fa fa-user-o"></i> <span>Secciones</span></a></li>
          <li class="{% if nbar == 'Notas' %}active{% endif %}"><a href="{% url 'notas' %}"><i class="fa fa-user-o"></i> <span>Notas</span></a></li>
          <li class="{% if nbar == 'Anotaciones' %}active{% endif %}"><a href="{% url 'anotaciones' %}"><i class="fa fa-user-o"></i> <span>Anotaciones</span></a></li>
          <li class="treeview">
              <a href="#"><i class="fa  fa-check-square-o"></i> <span>Asistencia</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                {% if cursos_gen %}
                  {% for c in cursos_gen %}
                    <li><a href="{% url 'listAsistenciaFilter' c.id 1 %}">{{ c.codigo }}</a></li>
                  {% endfor %}
                {% endif %}    
              </ul>
            </li>
            <li class="treeview">
                {% if cursos_gen %}
                {% for c in cursos_gen %}
              <a href="#"><i class="fa  fa-check-square-o"></i> <span>NOTAS {{ c.codigo }}</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  {% for s in secciones_gen %}
                    {% if s.curso == c %}
                      <li><a href="{% url 'listNotasFilter' c.id s.id %}">{{ s.cod_seccion}}</a></li>
                    {% endif %}
                  {% endfor %}
              </ul>
              {% endfor %}
              {% endif %}    
            </li>
            {% endif %}
  <!------- MENÚ ESTUDIANTE -->
  {% if perfil.tipo_usuario == 'Estudiante' %}
  <li class="header">HEADER</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="{% if nbar == 'Secciones' %}active{% endif %}"><a href="{% url 'informe_notas' g_session.curso.id perfil.rut %}"><i class="fa fa-user-o"></i> <span>Informe Notas</span></a></li>
    {% endif %}
  <!---- FIN MENÚ ESTUDIANTE -->
  <!------- MENÚ PROFESOR -->
  {% if perfil.tipo_usuario == 'Profesor' %}
  <li class="header">HEADER</li>
  <!-- Optionally, you can add icons to the links -->
          <li class="{% if nbar == 'Anotaciones' %}active{% endif %}"><a href="{% url 'anotaciones' %}"><i class="fa fa-user-o"></i> <span>Anotaciones</span></a></li>
          <li class="treeview">
              <a href="#"><i class="fa  fa-check-square-o"></i> <span>Asistencia</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                {% if cursos_gen %}
                  {% for c in cursos_gen %}
                    <li><a href="{% url 'listAsistenciaFilter' c.id 1 %}">{{ c.codigo }}</a></li>
                  {% endfor %}
                {% endif %}    
              </ul>
            </li>
                      <li class="treeview">
                {% if cursos_gen %}
                {% for c in cursos_gen %}
              <a href="#"><i class="fa  fa-check-square-o"></i> <span>NOTAS {{ c.codigo }}</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  {% for s in secciones_gen %}
                    {% if s.curso == c %}
                      <li><a href="{% url 'listNotasFilter' c.id s.id %}">{{ s.cod_seccion}}</a></li>
                    {% endif %}
                  {% endfor %}
              </ul>
              {% endfor %}
              {% endif %}    
            </li>
    {% endif %}
  <!---- FIN MENÚ PROFESOR -->
    <!------- MENÚ Funcionario -->
    {% if perfil.tipo_usuario == 'Funcionario' %}
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="{% if nbar == 'Profesores' %}active{% endif %}"><a href="{% url 'sendPushForm' %}"><i class="fa fa-user-o"></i> <span>Enviar Mensaje</span></a></li>
    <li class="{% if nbar == 'Profesores' %}active{% endif %}"><a href="{% url 'profesores' %}"><i class="fa fa-user-o"></i> <span>Profesores</span></a></li>
    <li class="{% if nbar == 'Tipos de Enseñanza' %}active{% endif %}"><a href="{% url 'tiposEnsenanza' %}"><i class="fa fa-user-o"></i> <span>Tipos de Enseñanza</span></a></li>
    <li class="{% if nbar == 'Grados' %}active{% endif %}"><a href="{% url 'grados' %}"><i class="fa fa-user-o"></i> <span>Grados</span></a></li>
    <li class="{% if nbar == 'Cursos' %}active{% endif %}"><a href="{% url 'cursos' %}"><i class="fa fa-user-o"></i> <span>Cursos</span></a></li>
    <li class="{% if nbar == 'Estudiantes' %}active{% endif %}"><a href="{% url 'estudiantes' %}"><i class="fa fa-user-o"></i> <span>Estudiantes</span></a></li>
    <li class="{% if nbar == 'Apoderados' %}active{% endif %}"><a href="{% url 'apoderados' %}"><i class="fa fa-user-o"></i> <span>Apoderados</span></a></li>
    <li class="{% if nbar == 'Funcionarios' %}active{% endif %}"><a href="{% url 'funcionarios' %}"><i class="fa fa-user-o"></i> <span>Funcionarios</span></a></li>
    <li class="{% if nbar == 'Asignaturas' %}active{% endif %}"><a href="{% url 'asignaturas' %}"><i class="fa fa-user-o"></i> <span>Asignaturas</span></a></li>
    <li class="{% if nbar == 'Secciones' %}active{% endif %}"><a href="{% url 'secciones' %}"><i class="fa fa-user-o"></i> <span>Secciones</span></a></li>
    <li class="{% if nbar == 'Notas' %}active{% endif %}"><a href="{% url 'notas' %}"><i class="fa fa-user-o"></i> <span>Notas</span></a></li>
    <li class="{% if nbar == 'Anotaciones' %}active{% endif %}"><a href="{% url 'anotaciones' %}"><i class="fa fa-user-o"></i> <span>Anotaciones</span></a></li>
    <li class="treeview">
        <a href="#"><i class="fa  fa-check-square-o"></i> <span>Asistencia</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          {% if cursos_gen %}
            {% for c in cursos_gen %}
              <li><a href="{% url 'listAsistenciaFilter' c.id 1 %}">{{ c.codigo }}</a></li>
            {% endfor %}
          {% endif %}    
        </ul>
      </li>
      <li class="treeview">
          {% if cursos_gen %}
          {% for c in cursos_gen %}
        <a href="#"><i class="fa  fa-check-square-o"></i> <span>Notas {{ c.codigo }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
            {% for s in secciones_gen %}
              {% if s.curso == c %}
                <li><a href="{% url 'listNotasFilter' c.id s.id %}">{{ s.cod_seccion}}</a></li>
              {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}
        {% endif %}    
      </li>
      {% endif %}
    <!---- FIN MENÚ FUNCIONARIO -->
        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>
    {% block content %}


    {% endblock %}
    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- Default to the left -->
      <strong>Copyright &copy; 2019 <a href="#">Sistema de Gestión Educativa SGE</a>.</strong> Todos los derechos
      reservados.
    </footer>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="{% static 'SGEAPP/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="{% static 'SGEAPP/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'SGEAPP/dist/js/adminlte.min.js' %}"></script>
  <!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-app.js"></script>

  <!--<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-auth.js"></script>-->
  <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-database.js"></script>
  <!--<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-firestore.js"></script>-->
  <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-messaging.js"></script>
  <!--<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-functions.js"></script>-->
  <script src="{% static 'SGEAPP/dist/js/main.js' %}"></script>
  <!-- bootstrap datepicker -->
<script src="{% static 'SGEAPP/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script>
    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })
    $('.rut_demo_5').Rut({
    on_error: function(){ alert('Rut incorrecto'); },
    format_on: 'keyup'
    });

    function checkRut(rut) {
    // Despejar Puntos
    var valor = rut.value.replace('.','');
    // Despejar Guión
    valor = valor.replace('-','');
    
    // Aislar Cuerpo y Dígito Verificador
    cuerpo = valor.slice(0,-1);
    dv = valor.slice(-1).toUpperCase();
    
    // Formatear RUN
    rut.value = cuerpo + '-'+ dv
    
    // Si no cumple con el mínimo ej. (n.nnn.nnn)
    if(cuerpo.length < 7) { rut.setCustomValidity("RUT Incompleto"); return false;}
    
    // Calcular Dígito Verificador
    suma = 0;
    multiplo = 2;
    
    // Para cada dígito del Cuerpo
    for(i=1;i<=cuerpo.length;i++) {
    
        // Obtener su Producto con el Múltiplo Correspondiente
        index = multiplo * valor.charAt(cuerpo.length - i);
        
        // Sumar al Contador General
        suma = suma + index;
        
        // Consolidar Múltiplo dentro del rango [2,7]
        if(multiplo < 7) { multiplo = multiplo + 1; } else { multiplo = 2; }
  
    }
    
    // Calcular Dígito Verificador en base al Módulo 11
    dvEsperado = 11 - (suma % 11);
    
    // Casos Especiales (0 y K)
    dv = (dv == 'K')?10:dv;
    dv = (dv == 0)?11:dv;
    
    // Validar que el Cuerpo coincide con su Dígito Verificador
    if(dvEsperado != dv) { rut.setCustomValidity("RUT Inválido"); return false; }
    
    // Si todo sale bien, eliminar errores (decretar que es válido)
    rut.setCustomValidity('');
}

function closeLi(id){
  var li = $("#"+id);
  li.css("display","none");
}
</script>
</body>
</html>