{% extends 'SGEAPP/base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{% static 'SGEAPP/dist/img/user2-160x160.jpg' %}" alt="User profile picture">

          <h3 class="profile-username text-center">{{ user.first_name }} {{ user.last_name }}</h3>

          <p class="text-muted text-center">Estudiante</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Curso</b> <a class="pull-right">2°B</a>
            </li>
            <li class="list-group-item">
              <b>Promedio General</b> <a class="pull-right">5,7</a>
            </li>
            <li class="list-group-item">
              <b>Rut</b> <a class="pull-right">21.133.561-8</a>
            </li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Información Personal</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i> Dirección</strong>

          <p class="text-muted">
            B.S. in Computer Science from the University of Tennessee at Knoxville
          </p>

          <hr>

          <strong><i class="fa fa-map-marker margin-r-5"></i> Dirección</strong>

          <p class="text-muted">Juan XXI 123, Playa Ancha, Valparaíso</p>

          <hr>

          <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

          <p>
            <span class="label label-danger">UI Design</span>
            <span class="label label-success">Coding</span>
            <span class="label label-info">Javascript</span>
            <span class="label label-warning">PHP</span>
            <span class="label label-primary">Node.js</span>
          </p>

          <hr>

          <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Editar Usuario</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="" method="POST">
                {% csrf_token %}
                <div class="box-body">
                      {{ form.as_p}}
                </div>
            <!-- /.box-body -->
                <div class="box-footer">
                  <button type="submit" class="btn btn-info pull-right">Guardar</button>
                </div>
            <!-- /.box-footer -->
              </form>
          </div>

    </div>
    <!-- /.col -->
  </div>
{% endblock %}