{% extends 'SGEAPP/base.html' %}
{% block content %}

<form class="form-horizontal" action="{% url 'editAsistencia' %}" method="POST">
    {% csrf_token %}
    <div class="box-body">
          {{ form.as_p}}
    </div>
<!-- /.box-body -->
<div class="box-footer">
  <button type="submit" class="btn btn-info pull-right">Guardar</button>
</div>
<!-- /.box-footer -->
</form>
{% endblock %}