{% extends 'SGEAPP/base.html' %}
{% block content %}
<div class="content-wrapper">
<!-- Main content -->
<section class="content container-fluid">

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Cursos</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
                <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box-body">
                          {{ form.as_p}}
                    </div>
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> <a href="{% url 'cursos' %}"> Cerrar</a></button>
              <button type="submit" class="btn btn-info pull-right">Guardar</button>
        </form>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    </section>
<!-- /.content -->
</div>
{% endblock %}