{% extends 'SGEAPP/base.html' %}
{% block content %}
{% load static %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content">

      <div class="row">
        <div class="col-md-3">
    
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{% if perfil.foto_perfil %}{{ perfil.foto_perfil.url }}{% endif %}" alt="User profile picture">
    
              <h3 class="profile-username text-center">{{ user.first_name }} {{ user.last_name }}</h3>
    
              <p class="text-muted text-center">@{{ user.username }}</p>
    
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>RUT</b> <a class="pull-right">{{ perfil.rut }}</a>
                </li>
                <li class="list-group-item">
                  <b>Tipo Usuario</b> <a class="pull-right">{{ perfil.tipo_usuario }}</a>
                </li>
                <li class="list-group-item">
                  <b>BIO</b> <a class="pull-right">{{ perfil.bio }}</a>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Actividad</a></li>
              <li><a href="#timeline" data-toggle="tab">Notificaciones</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
          {% if perfil.tipo_usuario == 'Apoderado' %}
          <h1> ESTUDIANTES </h1>
          <div class="row">
                {% for p in pupilos %}
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                      <div class="inner">
                        <h3>{{ p.rut }}</h3>
          
                        <p>{{ p.nom }} {{ p.apelp }} {{ p.apelm }}</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-bag"></i>
                      </div>
                      <a href="{% url 'informe_notas' p.curso.id p.rut %}" class="small-box-footer">Informe</a>
                    </div>
                  </div>
                {% endfor %}
              </div>
          {% endif %}
          {% if perfil.tipo_usuario == 'Profesor' %}
                      <!-- Small boxes (Stat box) -->
          <h1> SECCIONES </h1>
          <div class="row">
              {% for s in secciones_gen %}
              <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                  <div class="inner">
                    <h3>{{ s.cod_seccion }}</h3>
      
                    <p>{{ s.asignatura }}</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <a href="{% url 'listNotasFilter' s.curso.id s.id %}" class="small-box-footer">Ingresar Notas <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
              {% endfor %}
              <!-- ./col -->
            </div>
            <h1> CURSOS </h1>
            <div class="row">
                {% for c in cursos_gen %}
                <div class="col-lg-3 col-xs-6">
                  <!-- small box -->
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>{{ c.grado }} {{ c.letra }}</h3>
        
                      <p>{{ c.codigo }}</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                    <a href="{% url 'listAsistenciaFilter' c.id 1 %}" class="small-box-footer">Ingresar Asistencia <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                {% endfor %}
                <!-- ./col -->
              </div>
            {% endif %}
            {% if perfil.tipo_usuario == 'Estudiante' %}
                        <!-- Small boxes (Stat box) -->
            <h1> INFORMES </h1>
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                      <div class="inner">
                        <h3>{{ g_session.rut }}</h3>
          
                        <p>{{ g_session.nom }} {{ g_session.apelp }} {{ g_session.apelm }}</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-bag"></i>
                      </div>
                      <a href="{% url 'informe_notas' g_session.curso.id g_session.rut %}" class="small-box-footer">Informe</a>
                    </div>
                  </div>
              </div>
            {% endif %}
            <!-- /.row -->
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  {% if notificaciones %}
                  {% for not in notificaciones %}
                  <li>
                    <i class="fa fa-envelope bg-blue"></i>
    
                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i>{{ not.fecha_creacion }}</span>
    
                      <h3 class="timeline-header"><a href="#">{{ not.head }}</a></h3>
    
                      <div class="timeline-body">
                          {{ not.body }}
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  {% endif %}
                  <!-- END timeline item -->
                </ul>
              </div>
              <!-- /.tab-pane -->
    
              <div class="tab-pane" id="settings">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
    
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
    
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Experience</label>
    
                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputSkills" class="col-sm-2 control-label">Skills</label>
    
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    
    
    
    </section>
</div>
<!-- /.content-wrapper -->
{% endblock %}