
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
tr td {
  border: black 1px solid;
}
</style>
<body>

<div class="w3-container">
  <h2>Informe de Notas</h2>
  <p>{{ estudiante.nom }} {{ estudiante.apelp }} {{ estudiante.apelm }} - <b>{{ estudiante.curso.grado }} {{ estudiante.curso.letra }}</b></p>
  <p>{{ fecha.day }}-{{ fecha.month }}-{{ fecha.year }}</p>

  <table class="w3-table">
    <tr>
      <th>Seccion</th>
      <th>N1</th>
      <th>N2</th>
      <th>N3</th>
      <th>N4</th>
      <th>N5</th>
      <th>N6</th>
      <th>Promedio</th>
    </tr>
    {% for seccion in secciones %}
    <tr>
        <td>{{ seccion }}</td>
        <td>{{ seccion.notas.0.nota_v }}</td>
        <td>{{ seccion.notas.1.nota_v }}</td>
        <td>{{ seccion.notas.2.nota_v }}</td>
        <td>{{ seccion.notas.3.nota_v }}</td>
        <td>{{ seccion.notas.4.nota_v }}</td>
        <td>{{ seccion.notas.5.nota_v }}</td>
        <td>{{ seccion.promedio }}</td>
    </tr>
{% endfor %}
<tr>
  <td>PROMEDIO FINAL</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>{{ promedio_total }}</td>
</tr>
  </table>
</div>

<div class="w3-container">
    <h2>Anotaciones</h2>
  
    <table class="w3-table">
      <tr>
          <th>Contenido</th>
          <th>Asignatura</th>
          <th>Profesor</th>
          <th>Tipo</th>
      </tr>
      {% for anot in anotaciones %}
      <tr>
          <td>{{ anot.contenido }}</td>
          <td>{{ anot.asignatura }}</td>
          <td>{{ anot.profesor }}</td>
          <td>{{ anot.tipo }}</td>
      </tr>
  {% endfor %}
    </table>
  <hr>
  </div>

  <div class="w3-container">
      <h2>Asistencia</h2>
    
      <table class="w3-table">
          <tr>
            <th>Asistencia</th>
            <th>Días Totales</th>
            <th>Promedio</th>
          </tr>
          <tbody>
            <tr>
                <td>{{ estudiante.asis_p }}</td>
                <td>{{ estudiante.asis_lenght }}</td>
                <td>{{ estudiante.asis_prom }}%</td>
            </tr>
          </tbody>
        </table>
    <hr>
    </div>
  
</body>
</html>
