{% extends 'SGEAPP/base.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      {% for message in messages %}
      <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa fa-info"></i> Alert!</h4>
          {{ message }}
        </div>
      {% endfor %}
    <h1>
      Asistencia
      <a href="{% url 'crearAsistenciaMes' id_cur.id nmes %}">Crear Asistencia Mes</a>
    </h1>
    <a href="{% url 'asistencia_per' id_cur.id %}">Reporte Asistencia</a>
    <a href="{% url 'crearAsistencia' id_cur.id '2019-05-10' %}">+</a>
    <div class="box-body">
          <a class="btn btn-app" href="{% url 'listAsistenciaFilter' id_cur.id 1 %}" {% if nmes == 1 %} style="background-color: black;" {% endif %}>
            <i class="fa fa-circle"></i> ENERO
          </a>
          <a class="btn btn-app" href="{% url 'listAsistenciaFilter' id_cur.id 2 %}" {% if nmes == 2 %} style="background-color: black;" {% endif %}>
            <i class="fa fa-circle"></i> FEBRERO
          </a>
          <a class="btn btn-app" href="{% url 'listAsistenciaFilter' id_cur.id 3 %}" {% if nmes == 3 %} style="background-color: black;" {% endif %}>
            <i class="fa fa-circle"></i> MARZO
          </a>
          <a class="btn btn-app" href="{% url 'listAsistenciaFilter' id_cur.id 4 %}" {% if nmes == 4 %} style="background-color: black;" {% endif %}>
            <i class="fa fa-circle"></i> ABRIL
          </a>
          <a class="btn btn-app" href="{% url 'listAsistenciaFilter' id_cur.id 5 %}" {% if nmes == 5 %} style="background-color: black;" {% endif %}>
            <i class="fa fa-circle"></i> MAYO
          </a>
          <a class="btn btn-app" href="{% url 'listAsistenciaFilter' id_cur.id 6 %}" {% if nmes == 6 %} style="background-color: black;" {% endif %}>
              <i class="fa fa-circle"></i> JUNIO
          </a>
          <a class="btn btn-app" href="{% url 'listAsistenciaFilter' id_cur.id 7 %}" {% if nmes == 7 %} style="background-color: black;" {% endif %}>
              <i class="fa fa-circle"></i> JULIO
          </a>
          <a class="btn btn-app" href="{% url 'listAsistenciaFilter' id_cur.id 8 %}" {% if nmes == 8 %} style="background-color: black;" {% endif %}>
              <i class="fa fa-circle"></i> AGOSTO
          </a>
          <a class="btn btn-app" href="{% url 'listAsistenciaFilter' id_cur.id 9 %}" {% if nmes == 9 %} style="background-color: black;" {% endif %}>
              <i class="fa fa-circle"></i> SEPTIEMBRE
          </a>
          <a class="btn btn-app" href="{% url 'listAsistenciaFilter' id_cur.id 10 %}" {% if nmes == 10 %} style="background-color: black;" {% endif %}>
              <i class="fa fa-circle"></i> OCTUBRE
          </a>
          <a class="btn btn-app" href="{% url 'listAsistenciaFilter' id_cur.id 11 %}" {% if nmes == 11 %} style="background-color: black;" {% endif %}>
                  <i class="fa fa-circle"></i> NOVIEMBRE
          </a>
          <a class="btn btn-app" href="{% url 'listAsistenciaFilter' id_cur.id 12 %}" {% if nmes == 12 %} style="background-color: black;" {% endif %}>
                  <i class="fa fa-circle"></i> DICIEMBRE
          </a>
  </div>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
        Agregar Asistencia
      </button>
      <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar Asistencia</h4>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal" action="" method="POST">
                      {% csrf_token %}
                      <div class="box-body">
                            {{ formasis.as_p}}
                      </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                  </div>
                  <!-- /.box-footer -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-info pull-right">Guardar</button>
              </div>
            </div>
          </form>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
  </section>
<section class="content container-fluid">
      <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr id="fila-head">
                        <th scope="col">Nombre</th>
                      </tr>
                </thead>
                <tbody id="tbody">
                  {% for estudiante in estudiantes %}
                      <tr id="{{ estudiante.apelp }}{{ estudiante.apelm }}">
                          <td>{{ estudiante.apelp}} {{ estudiante.apelm}} {{ estudiante.nom }}</td>
                          {% for asistencia in asistencias %}
                            {% for i in dias %}
                                  {% if asistencia.estudiante == estudiante and asistencia.fecha.month == nmes and asistencia.fecha.day == i %}
                                  <script>
                                  /*  var columnas=document.querySelectorAll("#dataTable #tbody #{{ estudiante.apelp }}{{ estudiante.apelm }} #tddia");
                                    console.log(columnas);
                                    var z = {{ i }};
                                    console.log(z);
                                    columnas[z].value = "{{ asistencia.estado }}"; */
                                  </script>
                                  {% endif %}
                            {% endfor %}
                          {% endfor %} 
                      </tr>
                      {% endfor %}
                </tbody>
              </table>
            </div>
</section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    function dias(){
      // elimino todas las celdas con este id que pude crear anteriormente
      // Tomo el valor del select mes
      var mes = {{ nmes }};
      // tomo la fila de la cabeza de la tabla
      var filahead=document.getElementById("fila-head");
      // creo una variable días que usaré para controlar los días del loop e imprimir en la celda
      var dias=1;
      // Comienzo la condicional para imprimir distinta cantida de días según mes
      if (mes == "1" || mes == "3"|| mes == "5"|| mes == "7"|| mes == "9"|| mes =="11" ) {
          //Sentencias ejecutadas cuando el resultado de expresion coincide con valor1
                                            // Mientras dias sea menor a la cantidad declarada
          while (dias <= 31 ) {
            // Creo una celda 
            celda = document.createElement("td");
            celda.setAttribute("id", "tddia");
            // creo una variable  que contiene elnumero de loop convertido a texto
            //ingreso en la celda creada la variable dia que guarda el n° en el que vamos
            text = "<a href='/crearAsistencia/{{ id_cur.id }}/2019-" + mes + "-" + dias + "'/'>" + dias + "</a>";
            celda.innerHTML = text;
            //Incerto la celda recién creada en el head
            filahead.appendChild(celda);
            // Aumento la variable dias
            dias++;
            var table = document.getElementById("tbody");
            var columnas = $("tbody tr:last td").length;
            var rowCount = table.rows.length;
            for (var i=0; i<rowCount;i++){
              var row = table.rows[i];
              var celdita = document.createElement("td");
              celdita.setAttribute("id", "tddia");
              row.appendChild(celdita);
            }
            }
            }
        else{ //"febrero", "abril", "junio", "agosto", "octubre", "diciembre":
          while (dias <= 30 ) {
            // Creo una celda 
            celda = document.createElement("td");
            celda.setAttribute("id", "tddia");
            // creo una variable  que contiene elnumero de loop convertido a texto
            text = "<a href='/crearAsistencia/{{ id_cur.id }}/2019-" + mes + "-" + dias + "'/'>" + dias + "</a>";
            celda.innerHTML = text;
            //Incerto la celda recién creada en el head
            filahead.appendChild(celda);
            // Aumento la variable dias
            dias++;
            var table = document.getElementById("tbody");
            var columnas = $("tbody tr:last td").length;
            var rowCount = table.rows.length;
            for (var i=0; i<rowCount;i++){
              var row = table.rows[i];
              var celdita = document.createElement("td");
              celdita.setAttribute("id", "tddia");
              row.appendChild(celdita);
            }
            }
      }
      dias = 0;
      /// Recupero la tabla
    }
    // generamos el evento para el boton                              

      /**

      * funcion que realiza los calculos

      */

      function calcular() {

          // obtenemos todas las filas del tbody

          var filas=document.querySelectorAll("#dataTable tbody tr");

      

          var total=0;

      

          // recorremos cada una de las filas

          filas.forEach(function(e) {

      

              // obtenemos las columnas de cada fila

              var columnas=e.querySelectorAll("td div .form-control");

      
              var totalnotas=0;
              // obtenemos los valores de la cantidad y importe
              for (var i = 0; i < columnas.length-1; i++) {
                    totalnotas = totalnotas+parseInt(columnas[i].value);
                  }

      
              var largo = columnas.length
              // mostramos el total por fila

              columnas[largo-1].value = (totalnotas/(largo-1)).toFixed(1);
              totalnotas = 0;
          });

      }
 /*   function ActivarCampoOtroTema(b){		
      var contenedor = document.getElementById(b.concat(1));
      var inp = document.getElementById("input"+b.concat(2)+"inp");	
      var val = document.getElementById("id"+b.concat(3)+"i");	
      contenedor.style.display = "none";
      inp.style.display = "inline";
      val.style.display = "none";		
      return true;	}
    function DesactivarCampoOtroTema(b){	
      console.log(b);		
      var contenedor = document.getElementById(b.concat(1));
      console.log(contenedor);	
      var inp = document.getElementById("input"+b.concat(2)+"inp");	
      console.log(inp);	
      var val = document.getElementById("id"+b.concat(3)+"i");	
      console.log(val);	
      console.log(b);
      var idform = "form"+b.concat(4)+"f";
      console.log(idform);
      form = document.getElementById(idform);	
      console.log(form);
      form.submit();
      inp.style.display = "inline";
      val.style.display = "none";		
      return true;	}*/
  </script>
<script>
        window.onload = function() {
          dias();
          {% for estudiante in estudiantes %}
                        {% for asistencia in asistencias %}
                          {% for i in dias %}
                                {% if asistencia.estudiante == estudiante and asistencia.fecha.month == nmes and asistencia.fecha.day == i %}
                                var columnas=document.querySelectorAll("#dataTable #tbody #{{ estudiante.apelp }}{{ estudiante.apelm }} #tddia");
                                  console.log(columnas);
                                  var z = {{ i }};
                                  z = z-1;
                                  console.log(z);
                                  {% if asistencia.estado == False %}
                                    columnas[z].innerHTML = "<a class='btn btn-danger' href='{% url 'editAsistencia' asistencia.id id_cur.id nmes %}'>A</button>";
                                  {% else %}
                                    columnas[z].innerHTML = "<a class='btn btn-success' href='{% url 'editAsistencia' asistencia.id id_cur.id nmes %}'>P</button>";
                                  {% endif %}
                                  console.log(columnas[z].value);
                                {% endif %}
                          {% endfor %}
                        {% endfor %} 
                {% endfor %}
        };</script>
{% endblock %}