{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'SGEAPP/dist/img/logos/SGE-48.png' %}">
    <title>FLORIDA.NET - LOGIN</title>
    <link rel="stylesheet" type="text/css" href="{% static 'SGEAPP/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'SGEAPP/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'SGEAPP/css/util.css' %}">
</head>
<body>
    <div class="limiter">
        <div class="container-loginFN" style="background-image: url('{% static 'SGEAPP/img/fondo.jpg' %}');">
            <div class="wrap-loginFN">
                <form method="post" action="{% url 'login_fn' %}" class="loginFN-form validate-form" >
                    <div class="loginFN-form-avatar">
                        <img src="{% static 'SGEAPP/dist/img/logos/SGE-512.png' %}" alt="AVATAR">
                    </div>

                    <span class="loginFN-form-title p-t-20 p-b-45">
                            SGE
                    </span>

                    {% csrf_token %}
                    <div class="wrap-inputFN validate-input m-b-10" data-validate = "Username is required">
                        <input class="inputFN" type="text" name="username" required>
                        <span class="focus-inputFN"></span>
						<span class="symbol-inputFN">
							<i class="fa fa-user"></i>
						</span>
                    </div>
                    <div class="wrap-inputFN validate-input m-b-10" data-validate = "Username is required">
                        <input class="inputFN" type="password" name="password" required>
                        <span class="focus-inputFN"></span>
						<span class="symbol-inputFN">
							<i class="fa fa-lock"></i>
						</span>
                    </div>
                    <div class="container-loginFN-form-btn p-t-10">
                        <button class="loginFN-form-btn" type="submit">Entrar</button>
                    </div>
                </form>
                {% for message in messages %}
                <span class="loginFN-form-title p-t-20 p-b-45">
                        {{ message }}
                </span>
        {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'SGEAPP/js/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'SGEAPP/js/main.js' %}"></script>

</body>
</html>