{% extends 'SGEAPP/base.html' %}
{% load static %}

{% block content %}   
<div class="content-wrapper">
    <div class="col-md-10">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img src="{% if perfil.foto_perfil %}{{ perfil.foto_perfil.url }}{% endif %}" class="profile-user-img img-responsive img-circle" alt="User profile picture">
          <h3 class="profile-username text-center">{{ user.first_name }} {{ user.last_name }}</h3>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Email</b> <a class="pull-right">{{ user.email }}</a>
            </li>
            <li class="list-group-item">
              <b>Rut</b> <a class="pull-right">{{ perfil.rut }}</a>
            </li>
          </ul>
          <a href="{% url 'editPerfil' perfil.id %}" class="btn btn-success">Editar Perfil</a>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
    <!-- /.col -->
  </div>
{% endblock %}