{% extends 'SGEAPP/base.html' %}

{% block content %}
<div class="content-wrapper fondo-home">
    <div class="col-xs-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Enviar notificación Push</h3>
            </div>
            <div class="box-body">
                <form action="{% url 'sendPushReunion' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <p class="error"></p>
                    </div>
                    <div class="form-group">
                        <label>Título Notificación</label>
                        <input class="form-control" type="text" name="head"
                            placeholder="Ingrese el título de la notificacción push">
                    </div>
                    <div class="form-group">
                        <label>Cuerpo Notificación</label>
                        <textarea class="form-control" name="body" id="" cols="30" rows="10"
                            placeholder="Coloque aquí el contenido de la notificación push"></textarea>
                    </div>
                    <div class="box-footer">
                        <!--<input type="hidden" name="id_user" value="{{ user.id }}">-->
                        <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
