{% extends 'SGEAPP/base.html' %}
{% block content %}
<!-- Main content -->
<div class="content-wrapper">
    <section class="content container-fluid">

        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Perfiles</h3>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                    Agregar Perfiles
                  </button>
                  <div class="modal fade" id="modal-default">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Agregar Perfil</h4>
                          </div>
                          <div class="modal-body">
                              <form class="form-horizontal" action="{% url 'perfiles' %}" method="POST" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <div class="box-body">
                                        {{ form.as_p}}
                                  </div>
                              <!-- /.box-body -->
                              <div class="box-footer">
                              </div>
                              <!-- /.box-footer -->
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-info pull-right">Guardar</button>
                          </div>
                        </div>
                      </form>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Usuario</th>
                    <th>Rut</th>
                    <th>Bio</th>
                    <th>Tipo Usuario</th>
                    <th>Foto Perfil</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                      {% if perfiles %}
                      {% for perf in perfiles %}
                  <tr>
                      <td>{{ perf.usuario }}</td>
                      <td>{{ perf.rut }}</td>
                      <td>{{ perf.bio }}</td>
                      <td>{{ perf.tipo_usuario }}</td>
                      <td><img src="{% if perf.foto_perfil %}{{ perf.foto_perfil.url }}{% endif %}" style="max-width: 100px;" alt="User Image"></td>
                      <td>
                        <a href="{% url 'delPerfil' perf.id %}"><button type="button" class="btn btn-danger"><i class="fa  fa-times"></i></button></a>
                        <a href="{% url 'editPerfil' perf.id %}"><button type="button" class="btn btn-success"><i class="fa  fa-pencil"></i></button></a>
                      </td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        </section>
<!-- /.content -->
</div>
{% endblock %}