{% extends 'SGEAPP/base.html' %}
{% block content %}
<div class="content-wrapper">
<!-- Main content -->
<section class="content container-fluid">

        <div class="row">
          <div class="col-xs-12">
      <!-- SELECT2 EXAMPLE -->
    <!--  <div class="box box-default" id="filtros">
          <div class="box-header with-border">
            <h3 class="box-title">Filtros</h3>
  
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>-->
          <!-- /.box-header -->
    <!--      <div class="box-body">
            <div class="row">
            </div> -->
            <!-- /.row -->
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Secciones</h3>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                  Agregar Seccion
                </button>
                      <div class="modal fade" id="modal-default">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Agregar Seccion</h4>
                            </div>
                            <div class="modal-body">
                              <form class="form-horizontal" action="{% url 'secciones' %}" method="POST">
                                {% csrf_token %}
                                <div class="box-body">
                                  {{ form.as_p}}
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                </div>
                                <!-- /.box-footer -->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                              <button type="submit" class="btn btn-info pull-right">Guardar</button>
                            </div>
                          </div>
                          </form>
                          <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
                <a href="{% url 'crearSeccionesBase' %}">Crear Secciones Base</a>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Curso</th>
                      <th>Asignatura</th>
                      <th>Profesor</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if secciones %}
                      {% for seccion in secciones %}
                      <tr id="{{ seccion.id }}">
                        <form id="form{{ seccion.id }}" action="{% url 'editSeccion' seccion.id %}" method="POST">
                          {% csrf_token %}
                          <td><input type="text" name="cod_seccion" hidden value="{{ seccion.cod_seccion }}" style="border: none; width: 100%; background-color: white;" readonly><p>{{ seccion.cod_seccion }}</p></td>
                          <td><select value="{{ seccion.curso }}" hidden name="curso" style="border: none; width: 100%;">{% for kur in cursos %}{% if kur == seccion.curso %}<option value="{{ kur.id }}" selected>{{ kur }}</option>{% else %}<option value="{{ kur.id }}">{{ kur }}</option>{% endif %}{% endfor %}</select><p>{{ seccion.curso }}</p></td>
                          <td><select value="{{ seccion.asignatura }}" hidden name="asignatura" style="border: none; width: 100%;">{% for asig in asignaturas %}{% if asig == seccion.asignatura %}<option value="{{ asig.id }}" selected>{{ asig }}</option>{% else %}<option value="{{ asig.id }}">{{ asig }}</option>{% endif %}{% endfor %}</select><p>{{ seccion.asignatura }}</p></td>
                          <td><select value="{{ seccion.profesor }}" hidden name="profesor" style="border: none; width: 100%;">{% for prof in pfs %}{% if prof == seccion.profesor %}<option value="{{ prof.id }}" selected>{{ prof.apelp }} {{ prof.nom }}</option>{% else %}<option value="{{ prof.id }}">{{ prof.apelp }} {{ prof.nom }}</option>{% endif %}{% endfor %}</select><p>{{ seccion.profesor }}</p></td>
                        </form>
                        <td>
                          <a href="{% url 'editSeccion' seccion.id %}"><button type="button" class="btn btn-success"><i class="fa  fa-pencil"></i></button></a>
                          <a href="{% url 'delSeccion' seccion.id %}"><button type="button" class="btn btn-danger"><i class="fa  fa-times"></i></button></a>
                        </td>
                      </tr>
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
      </section>
<!-- /.content -->
</div>

{% endblock %}