{% extends 'SGEAPP/base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Tipo Perfiles
      <small>Administración de Perfiles</small>
    </h1>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
      Agregar Tipo Perfil
    </button>
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Agregar Tipo Perfil</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action="{% url 'tipoperfiles' %}" method="POST">
              {% csrf_token %}
              <div class="box-body">
                {{ form.as_p}}
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
              </div>
              <!-- /.box-footer -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-info pull-right">Guardar</button>
          </div>
        </div>
        </form>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Tipo Perfiles</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% if tipoperfiles %}
                {% for tp in tipoperfiles %}
                <tr>
                  <td>{{ tp.id }}</td>
                  <td>{{ tp.nom_tipoperf }}</td>
                  <td>
                    <a href="{% url 'delTipoPerfil' tp.id %}"><button type="button" class="btn btn-danger"><i
                          class="fa  fa-times"></i></button></a>
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}