{% extends 'SGEAPP/base.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content container-fluid">

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Cursos</h3>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                  Agregar Curso
                </button>
                <div class="modal fade" id="modal-default">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">Agregar Curso</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="{% url 'cursos' %}" method="POST">
                                {% csrf_token %}
                                <div class="box-body">
                                      {{ form.as_p}}
                                </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                          <button type="submit" class="btn btn-info pull-right">Guardar</button>
                        </div>
                      </div>
                    </form>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Código</th>
                  <th>Letra</th>
                  <th>Grado</th>
                  <th>Profesor</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                    {% if cursos %}
                    {% for curso in cursos %}
                <tr>
                    <td>{{ curso.codigo }}</td>
                    <td>{{ curso.letra }}</td>
                    <td>{{ curso.grado }}</td>
                    <td>{{ curso.profesor }}</td>
                    <td>
                      <a href="{% url 'delCurso' curso.id %}"><button type="button" class="btn btn-danger"><i class="fa  fa-times"></i></button></a>
                      <a href="{% url 'editCurso' curso.id %}"><button type="button" class="btn btn-success"><i class="fa  fa-pencil"></i></button></a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      </section>
</div>
<!-- /.content-wrapper -->
{% endblock %}