{% extends 'SGEAPP/base.html' %}
{% block content %}
<div class="content-wrapper">
<!-- Main content -->
<section class="content container-fluid">

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
          {% for message in messages %}
          <div class="alert alert-info alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h4><i class="icon fa fa-info"></i> Alert!</h4>
              {{ message }}
            </div>
          {% endfor %}
        <h3 class="box-title">Usuarios</h3>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
            Agregar Usuario
          </button>
          <a class="btn" href="{% url 'crear_cuentas_profesores' %}">
              Crear Cuentas Profesores
          </a>
          <a class="btn" href="{% url 'crear_cuentas_estudiantes' %}">
            Crear Cuentas Estudiantes
          </a>
          <a class="btn" href="{% url 'crear_cuentas_funcionarios' %}">
            Crear Cuentas Funcionarios
          </a>
          <a class="btn" href="{% url 'cleanUsuario' %}">
              LIMPIAR
            </a>
          <div class="modal fade" id="modal-default">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Agregar Usuario</h4>
                  </div>
                  <div class="modal-body">
                      <form class="form-horizontal" action="{% url 'usuarios' %}" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="box-body">
                                {{ form.as_p}}
                          </div>
                      <!-- /.box-body -->
                      <div class="box-footer">
                      </div>
                      <!-- /.box-footer -->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info pull-right">Guardar</button>
                  </div>
                </div>
              </form>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Usuario</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
              {% if usuarios %}
              {% for user in usuarios %}
          <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              <td>
                <a href="{% url 'delUsuario' user.id %}"><button type="button" class="btn btn-danger"><i class="fa  fa-times"></i></button></a>
                <a href="{% url 'editUsuario' user.id %}"><button type="button" class="btn btn-success"><i class="fa  fa-pencil"></i></button></a>
              </td>
          </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
</section>
<!-- /.content -->
</div>
{% endblock %}