{% extends 'SGEAPP/base.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Apoderados
        <small>Administración de los usuarios Apoderados</small>
      </h1>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
          Agregar Apoderado
        </button>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Agregar Apoderado</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="{% url 'apoderados' %}" method="POST">
                        {% csrf_token %}
                        <div class="box-body">
                              {{ form.as_p}}
                              <p>
                              <label for="id_mail">Correo</label>
                              <input id="id_mail" type="text" name="mail" id="" class="form-control">
                            </p>
                        </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                    </div>
                    <!-- /.box-footer -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-info pull-right">Guardar</button>
                </div>
              </div>
            </form>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Apoderados</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>RUT</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
              {% if apoderados %}
              {% for apod in apoderados %}
          <tr>
              <td>{{ apod.rut }}</td>
              <td>{{ apod.nom }}</td>
              <td>{{ apod.apelp }}</td>
              <td>{{ apod.apelm }}</td>
              <td>
                <a href="{% url 'editApoderado' apod.rut %}"><button type="button" class="btn btn-success"><i class="fa  fa-pencil"></i></button></a>
                <a href="{% url 'delApoderado' apod.rut %}"><button type="button" class="btn btn-danger"><i class="fa  fa-times"></i></button></a>
              </td>
          </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}