{% extends 'SGEAPP/base.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Notas
        <small>Administración de Notas</small>
      </h1>
      <div class="btn-group">
            {% for seccion in secciones %}
                {% if seccion.curso == id_cur %}
                <a type="button" class="btn btn-danger" href="{% url 'listNotasFilter' id_cur.id seccion.id %}">{{ seccion }}</a>
                {% endif %}
            {% endfor %}
      </div>
    </section>
  <!-- Main content -->
  <section class="content container-fluid">
  
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Notas</h3>
              <a type="button" class="btn btn-primary" href="{% if id_sec %}{% url 'crearEvaluaciones' id_sec.id %}{% endif %}">
                      Ingresar evaluacion
              </a>
              <a href="{% url 'ingresar_nota' %}">Ingresar Nota</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="dataTable" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Nombre</th>
                  {% for evaluacion in evaluaciones %}
                  <th>{{ evaluacion.nom_ev }}</th>
                  {% endfor %}
                  <th>Promedio</th>
                </tr>
                </thead>
                <tbody>
                      {% for estudiante in estudiantes %}
                      <tr>
                          <td>{{ estudiante.apelp}} {{ estudiante.apelm}} {{ estudiante.nom }} <a href="{% url 'informe_notas' id_cur.id estudiante.rut %}">INFORME</a></td>
                          {% for evaluacion in evaluaciones %}
                              {% for nota in notas %}
                                  {% if nota.estudiante == estudiante and nota.evaluacion == evaluacion %}
                                  <td name="{{ nota.nota_v }}" >
                                    <form id="form{{ nota.id }}4f" name="{{ estudiante.apelp }}{{ evaluacion.id }}" method="POST" action="{% url 'listNotasFilter' id_cur.id id_sec.id %}">
                                        {% csrf_token %}
                                          <div class="form-group justify-content-center">
                                            <input onfocus="ActivarCampoOtroTema('{{ nota.id }}')" onblur="DesactivarCampoOtroTema('{{ nota.id }}')" class="form-control disabled" type="text" style="width: 100%; border: none;" id="input{{ nota.id }}2inp" value="{{ nota.nota_v }}" name="nota_v" required>
                                            <input type="text" style="display:none; width: 50%; border: none;" id="id{{ nota.id }}3i" value="{{ nota.id }}" name="id" >
                                              <button class="btn btn-primary btn-circle" type="submit" id="{{ nota.id }}1" style="display:none;"><i class="fas fa-paper-plane"></i></button>
                                            </div>
                                    </form>
                                  </td>
                                  {% endif %}
                              {% endfor %}
                          {% endfor %} 
                          <td name="{{ nota.nota_v }}" >
                            {% csrf_token %}
                            <div class="form-group justify-content-center">
                              <input class="form-control disabled" type="text" style="width: 100%; border: none;" name="nota_v" >
                              <input type="text" style="display:none; width: 50%; border: none;" name="id" >
                                <button class="btn btn-primary btn-circle" style="display:none;"><i class="fas fa-paper-plane"></i></button>
                              </div>
                          
                        </td>
                      </tr>
                      {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      </section>
      <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
  // generamos el evento para el boton                              

    /**

    * funcion que realiza los calculos

    */

    function calcular() {

        // obtenemos todas las filas del tbody

        var filas=document.querySelectorAll("#dataTable tbody tr");

    

        var total=0.0;

    

        // recorremos cada una de las filas

        filas.forEach(function(e) {

    

            // obtenemos las columnas de cada fila

            var columnas=e.querySelectorAll("td div .form-control");

    
            var totalnotas=0.0;
            // obtenemos los valores de la cantidad y importe
            for (var i = 0; i < columnas.length-1; i++) {
                  valor = columnas[i].value.replace(",",".");
                  console.log(parseFloat(valor));
                  totalnotas = totalnotas+parseFloat(valor);
                  console.log(totalnotas);
                }

    
            var largo = columnas.length
            // mostramos el total por fila

            columnas[largo-1].value = (totalnotas/(largo-1)).toFixed(1);
            totalnotas = 0;
        });

    }
  function ActivarCampoOtroTema(b){		
    var contenedor = document.getElementById(b.concat(1));
    var inp = document.getElementById("input"+b.concat(2)+"inp");	
    var val = document.getElementById("id"+b.concat(3)+"i");	
    contenedor.style.display = "none";
    inp.style.display = "inline";
    val.style.display = "none";		
    return true;	}
  function DesactivarCampoOtroTema(b){	
    console.log(b);		
    var contenedor = document.getElementById(b.concat(1));
    console.log(contenedor);	
    var inp = document.getElementById("input"+b.concat(2)+"inp");	
    console.log(inp);	
    var val = document.getElementById("id"+b.concat(3)+"i");	
    console.log(val);	
    console.log(b);
    var idform = "form"+b.concat(4)+"f";
    console.log(idform);
    form = document.getElementById(idform);	
    console.log("enviando");
    $("#"+idform).submit(function(e){
          e.preventDefault();
          var thisForm = $("#"+idform);
          var actionEndpoint = thisForm.attr("action");
          var httpMethod = thisForm.attr("method");
          var formData = thisForm.serialize();

          $.ajax({
            url: actionEndpoint,
            method: httpMethod,
            data: formData,
            success: function(data){
              console.log("succes")
            },
            error: function(errorData){
              console.log("error")
              console.log(errorData)
            }
          })
      });
      $("#"+idform).submit();
      inp.style.display = "inline";
      val.style.display = "none";	
      calcular();
      };
</script>
<script>
window.onload = function() {
calcular();
};</script>
{% endblock %}